<li>
    <div class="event-container">
        <div class="event-card">
            <div class="event-header">
                <h2 class="title"><a href="" title=""><%= event.title %></a></h2>
            </div>
            <div class="event-image">
                <a href="" title="">
                    <img src="<%= event.icon %>" alt="" sizes="(max-width: 464px) 100vw, 464px">
                </a>
            </div>
            <div class="event-description">

                <p>
                    <span class="date"><span class="glyphicon glyphicon-calendar"></span><%= event.day%>.<%= event.month%>.<%= event.year%></span>
                    <span class="time"><span class="glyphicon glyphicon-time"></span><%=event.hour%>:00</span>
                </p>
                <p>
                    <span class="location">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <%=event.location%>
                    </span>
                </p>
                <!--<p>-->
                    <!--<span>-->
                        <!--<script type="text/javascript">-->
                        <!--VK.init({apiId: 4837422, onlyWidgets: true});-->
                        <!--</script>-->

                        <!--<!— Put this div tag to the place, where the Like block will be —>-->
                        <!--<div id="vk_like"></div>-->
                        <!--<script type="text/javascript">-->
                        <!--VK.Widgets.Like("vk_like", {type: "button"});-->
                        <!--</script>-->
                    <!--</span>-->
                    <!--<span>-->
                        <!--<!— Load Facebook SDK for JavaScript —>-->
                        <!--<div id="fb-root"></div>-->
                        <!--<script>(function(d, s, id) {-->
                                <!--var js, fjs = d.getElementsByTagName(s)[0];-->
                                <!--if (d.getElementById(id)) return;-->
                                <!--js = d.createElement(s); js.id = id;-->
                                <!--js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1";-->
                                <!--fjs.parentNode.insertBefore(js, fjs);-->
                            <!--}(document, 'script', 'facebook-jssdk'));</script>-->

                        <!--<!— Your share button code —>-->
                        <!--<div class="fb-share-button"-->
                             <!--data-href="http://www.your-domain.com/your-page.html"-->
                             <!--data-layout="button_count">-->
                        <!--</div>-->
                    <!--</span>-->
                <!--</p>-->
            </div>
        </div>
    </div>
</li>
